<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners><listener class-name="pizzaOrdering.Listener"></listener></listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="pizzaOrdering.Cases">
      <methods><include name="orderItems"></include></methods>
      </class>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
